*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #000000;
}
.archivo-black-regular {
  font-family: "Archivo Black", serif;
  font-weight: 400;
  font-style: normal;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;  
}
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #fca311;
  }
  .head{
    height: 300px;
    
  }
  .presentacion{
    display: flex;            /* Usar flexbox */
    justify-content: center;  /* Centra horizontalmente */
    align-items: center;      /* Centra verticalmente */
    text-align: center;       /* Asegura que el texto dentro del elemento se centre */
    flex-grow: 0;             /* No permite que el contenedor crezca */
  }
  .imagen{
    display: inline-block;
    flex-grow: 0;
    text-align: center;
  }